# Binaries for programs and plugins.
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`.
*.test

# Output of the go coverage tool.
*.out

# Build tools downloaded at runtime.
bin/

# Release manifests generated at runtime.
config/release/
config/crd/bases/ocirepositories.yaml
config/crd/bases/gitrepositories.yaml
config/crd/bases/buckets.yaml

build/

# CRDs for fuzzing tests.
internal/controllers/testdata/crd
