apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
images:
  - name: fluxcd/kustomize-controller
    newName: fluxcd/kustomize-controller
    newTag: v0.10.0
